@import "App";
.App__header {
    position: fixed;
    top: 0;
    background-color: $primary-color;
    width: 100vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 100px;
}